/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#475569 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side, #0f172a 95%, #0000) 50%/8px 8px no-repeat
      #f1f5f9;
  animation: l7 1.5s infinite alternate ease-in;
}
@keyframes l7 {
  0%,
  70% {
    background-size:
      100% 35%,
      8px 8px;
  }
  85% {
    background-size:
      100% 120%,
      8px 8px;
  }
  100% {
    background-size:
      100% 40%,
      8px 8px;
  }
}
